<!DOCTYPE html>
<html lang="en">

<head>
    <title>Document</title>
</head>

<body>
    <h1>Sachin's Simple Graph Editor</h1>
    <script src="/node_modules/chart.js/" type="module"></script>
    <!-- <button (click)="onClick()">Click Me</button> -->
    <form id="myForm">
        <button (click)="onAdd()">Reset</button>
        <!-- <button (click)="onToggle()">Toggle</button>--><br> Enter Color 1: <input type="text" id="color1"> <br> Enter Color 2 : <input type="text" id="color2">
    </form>
    <input (click)="onSubmit()" type="submit" value="Add Edge">
    <div class="area">
        <canvas id="myChart" width="600" height="400"></canvas>
        <!-- <canvas id="barChart" width="400" height="400"></canvas> -->
    </div>
</body>

</html>